$font-b1: #1a1a1a; // 标题/正文
$font-b2: #666666; // 辅助文字
$font-b3: #999999; // 次级辅助文字/不可操作文字

$color-warning: #ff4040; // 警示
$color-success: #1dbf6e; // 成功
$color-link: #4da6ff; // 链接
$color-logo: #32caf8; // logo背景色
$color-side: #dce2f1; // 左边栏背景色
